
@{
    ViewBag.Title = "Receipt";
}
    <head>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
    </head>


    <body class="bg-info">
        <div class="text-center">
            <img src="~/122266_f520.jpg" />
        </div>
        <h1 class="text-center">StarSubs Receipt</h1>
        <h2 class="text-center">Today's Date: @ViewData["date"]</h2>
        <br />
        <p class="text-center">Single Unit Receipt</p>
        <div class="container">
            <div class="row text-center">
                <div class="col col-sm-6">
                    Type of Sub:<br />
                    Size of Sub:<br />
                    Type of Meal Deal:<br />
                    Total Price of Sub:<br />
                    Price of Meal Deal:<br />
                </div>
                <div class="col col-sm-6">
                    @ViewData["subName"]<br />
                    @ViewData["subSize"]<br />
                    @ViewData["subDeal"]<br />
                    @ViewData["UnitPrice"]<br />
                    @ViewData["dealPrice"]<br />
                </div>
            </div>
            <br />
            <div class="row text-center">
                <div class="col col-sm-6">
                    Cost:<br />
                    Tax:<br />
                    Total:<br />
                </div>
                <div class="col col-xs-6">
                    @ViewData["preTaxPrice"]<br />
                    @ViewData["tax"]<br />
                    @ViewData["totalPrice"]<br />
                </div>
            </div>
        </div>
        <div class="text-center">
            <p>Total number of meals:  @ViewData["mealNumber"]</p>
            <p>Total Due:  @ViewData["totalNumberPrice"]</p>
        </div>
        <br />
        <div class="text-center">
            @Html.ActionLink("Place another order", "Index", "Home")
        </div>


    </body>